

@{
    Layout = null;
}

<h3>Telefon Rehberi Uygulaması</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Firma</th>
        <th>İletişim</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>İletişim Detay</th>

    </tr>

    <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-warning">Güncelle</a></td>

        <td><a href="#" class="btn btn-dark">İletişim Detay</a></td>
    </tr>
    
</table>

<td><a href="#" class="btn btn-success">Yeni Kişi Ekle</a></td>
<td><a href="#" class="btn btn-primary">Kişileri Listele</a></td>


